In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [14]:
df=pd.read_csv('C://Users//soham//Downloads//Crop_recommendation.csv')
df.head()

   temperature   humidity        ph    rainfall label
0    20.879744  82.002744  6.502985  202.935536  rice
1    21.770462  80.319644  7.038096  226.655537  rice
2    23.004459  82.320763  7.840207  263.964248  rice
3    26.491096  80.158363  6.980401  242.864034  rice
4    20.130175  81.604873  7.628473  262.717340  rice

In [15]:
df.reset_index(drop=True)

      temperature   humidity        ph    rainfall   label
0       20.879744  82.002744  6.502985  202.935536    rice
1       21.770462  80.319644  7.038096  226.655537    rice
2       23.004459  82.320763  7.840207  263.964248    rice
3       26.491096  80.158363  6.980401  242.864034    rice
4       20.130175  81.604873  7.628473  262.717340    rice
...           ...        ...       ...         ...     ...
2195    26.774637  66.413269  6.780064  177.774507  coffee
2196    27.417112  56.636362  6.086922  127.924610  coffee
2197    24.131797  67.225123  6.362608  173.322839  coffee
2198    26.272418  52.127394  6.758793  127.175293  coffee
2199    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 5 columns]

In [16]:
dum=df['label']
label= pd.get_dummies(dum).iloc[: , 1:]
df= pd.concat([df,label],axis=1)
df.drop('label', axis=1,inplace=True)
df.head()
df.to_excel("df.xlsx")

In [17]:
train=df.iloc[:, 0:4].values
test=df.iloc[: ,4:].values
X_train,X_test,y_train,y_test=train_test_split(train,test,test_size=0.2)

In [18]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [19]:
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor()
dtr.fit(X_train,y_train)
pred=dtr.predict(X_test)

In [20]:
from sklearn.metrics import accuracy_score
a=accuracy_score(y_test,pred)
print(a*100)

95.9090909090909

In [21]:
pH = float(input("Enter pH level:"))
temp = float(input("Enter Temperature:"))
humidity = float(input("Enter Humidity:"))
rainfall = float(input("Enter Rainfall level:"))
soilmoisture = float(input("Enter soil moisture level:"))
if(soilmoisture>=35 and soilmoisture<=80):
    prediction = dtr.predict([[pH,temp,humidity,rainfall]])
    crops=['banana','blackgram','chickpea','coconut','coffee','cotton','grapes','jute','kidneybeans','lentil','maize','mango','mothbeans','mungbean','muskmelon','orange','papaya','pigeonpeas','pomegranate','rice','watermelon']
    for i in range(0,30):
        if(prediction[0][i]==1):
            crop=crops[i]
            break;
        i=i+1
    print("Crop you should grow acc to soil is:",crop)

Enter pH level:6.7
Enter Temperature:29
Enter Humidity:76
Enter Rainfall level:209
Enter soil moisture level:56
Crop you should grow acc to soil is: papaya